{
  "plugins": [
    "prettier-plugin-blade"
  ],

  "printWidth": 80,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 4,

  "overrides": [
    {
      "files": [
        "*.blade.php"
      ],
      "options": {
        "parser": "blade",
        "printWidth": 100,
        "bladeDirectiveArgSpacingOverrides": [
            "if",
            "elseif",
            "unless",
            "while",
            "for",
            "foreach",
            "forelse",
            "switch",
            "case",
            "section=none",
            "extends=none",
            "livewire=none",
            "entangle=none",
            "island=none",
            "switch=none",
            "case=none",
            "isset=none",
            "yield=none",
            "method=none",
            "selected=none",
            "checked=none",
            "required=none",
            "disabled=none",
            "class=none",
            "style=none",
            "error=none",
            "include=none",
            "includeWhen=none",
            "each=none",
            "choice=none",
            "vite=none",
            "livewireScriptConfig=none",
            "joypixels=none",
            "bbcode=none",
            "props=none"
        ],
        "bladeKeepHeadAndBodyAtRoot": false
      }
    },
    {
      "files": [
        "*.js"
      ],
      "options": {
        "printWidth": 100
      }
    }
  ]
}
