includes:
    - ./vendor/larastan/larastan/extension.neon
    - ./vendor/calebdw/larastan-livewire/extension.neon
    - ./phpstan-baseline.neon
parameters:
    paths:
        - app
        - bootstrap
        - config
        - database
        - lang
        - public
        - resources
        - routes
    excludePaths:
        - app/Helpers/Markdown
        - app/Helpers/MarkdownExtra
    level: 8
    checkOctaneCompatibility: true
    ignoreErrors:
        - '#Cannot access property \$[a-z_]+ on App\\Models\\[a-zA-Z]+\|null#'
        - '#Cannot call method [a-zA-Z]+\(\) on App\\Models\\[a-zA-Z]+\|null#'
