.collection__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0;
    padding: 0;
}

.collection__list-item {
    list-style: none;
}

.collection {
    padding: 16px;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.1);
    color: var(--collection-fg);
}

.collection__link {
    color: var(--collection-fg);
}

.collection__posters {
    grid-auto-columns: 150px;
    grid-auto-flow: column;
    gap: 12px 24px;
    overflow-x: auto;
    padding: 5px;
}

.collection__posters.collection__posters {
    display: grid;
}
