.nav2 {
  margin: 0 max(0px, 24vw - 160px) 1rem max(0px, 24vw - 160px);
  display: flex;
  justify-content: space-between;
  background-color: var(--nav-bg);
  overflow-x: auto;
  border: var(--nav-border);
  border-radius: var(--nav-border-radius);
  box-shadow: var(--nav-box-shadow);
}

.nav__left,
.nav__right {
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0;
  padding: 0;
}

.nav-item__link {
  padding: 0.5rem 1rem;
  white-space: nowrap;
  display: inline-block;
  color: var(--nav-item-fg);
  background-color: var(--nav-item-bg);
  font-size: 0.8rem;
  border-bottom: var(--nav-item-border);
}

.nav-item__link:hover {
  padding: 0.5rem 1rem calc(0.5rem - 2px)  1rem;
  color: var(--nav-item-hover-fg);
  border-bottom: var(--nav-item-hover-border);
  background-color: var(--nav-item-hover-bg);
}

/*
  Move this code so that the selected page automatically
  gets the tag instead of using css to determine which
  page is currently selected.
 */
.bon-nav__bon .bon-nav__bon-item .nav-item__link,
.bon-nav__store .bon-nav__store-item .nav-item__link,
.bon-nav__gifts .bon-nav__gifts-item .nav-item__link,
.bon-nav__tips .bon-nav__tips-item .nav-item__link,
.bon-nav__send-gift .bon-nav__send-gift-item .nav-item__link {
  color: var(--nav-item-selected-fg);
  background-color: var(--nav-item-selected-bg);
  border-bottom: var(--nav-item-selected-border);
}